
.header {
    margin: 30px 0 0 0;
}

.starter {
    width: 81px;
    height: 28px;
    margin: 0 20px 0 100px;
}

.mavzu {
    font-weight: 500;
    font-size: 13pt;
    margin: 10px 0 0 0;
    gap: 10px;
    display: flex;
    text-decoration: none;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.number {
    margin: 0 0 0 700px;
    color: white;
    background-color: black;
    width: Hug (156px)px;
    height: Hug (41px)px;
    padding: 12px 24px 12px 24px;
    gap: 10px;
    border-radius: 6px 0px 0px 0px;
    transition: 1s;

}

.number:hover {
    width: Hug (156px)px;
    height: Hug (41px)px;
    top: 24px;
    left: 1172px;
    padding: 12px 24px 12px 24px;
    gap: 10px;
    border-radius: 6px 0px 0px 0px;
    background-color: #1AAB7B;
}

.w-1 {
    display: flex;
}

.first-box {
    margin: 50px 0 0 100px;
}

.first-text {
    font-size: 56px;
    font-weight: 700;
}

.first-p {
    font-size: 20px;
    font-weight: 400;
}

.first-btn {
    width: Hug (168px)px;
    height: Hug (59px)px;
    padding: 20px 40px 20px 40px;
    gap: 10px;
    border-radius: 6px;
    color: white;
    background-color: #1AAB7B;
    border: none;
}



.first-img {
    margin: 100px 0 0 200px;
    width: 592px;
    height: 332px;
    gap: 0px;
    opacity: 0px;

}

.two-text {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.second-box {
    display: flex;
    gap: 50px;
}

.w-2 {
    padding: 20px 0 0 20px;
    width: 384px;
    height: 300px;
    top: 140px;
    left: 112px;
    border-radius: 6px;
    background-color: #1AAB7B;
    margin: 0 0 0 100px;
}

.w-2:hover {
    background-color: rgb(213, 230, 213);
    border: none;
    transition: all ease-in-out 0.2s;
    box-shadow: rgb(255, 1, 1) 5px 15px 30px -10px;
}

.third-text {
    margin: 0 50px 0 0;
    width: 217px;
    height: 45px;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    color: white;
}

.second-p {
    width: 324px;
    height: 135px;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: white;
}

.first-a {
    width: 108px;
    height: 28px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: white;
}

.w-3 {
    padding: 20px 0 0 20px;
    width: 384px;
    height: 300px;
    top: 140px;
    left: 112px;
    border-radius: 6px;
    background-color: #e1e7ed;
}

.w-3:hover {
    background-color: #1AAB7B;
    border: none;
    transition: all ease-in-out 0.2s;
    box-shadow: rgb(255, 1, 1) 5px 15px 30px -10px;
}

.third-box {
    display: flex;
    gap: 50px;
    margin: 50px 0 0 100px;
}

.four-text {
    margin-top: 200px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.third-p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.icon {
    width: 1440pxs;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    height: 450px;
    background-image: url('image/image\ 1\ \(4\).png');
    padding: 60px 0 0 0;
}

.mainbg{
    margin: 0 auto;
}

.w-4{
    width: 465px;
height: 350px;
    color: white;
    background-color:  #000000BA;
    margin: 0 0 0 450px;
    padding: 20px 0 40px 50px;
}

.name1{
    color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 700;
text-align: left;
}

.name{
    background-color: #000000BA;
    margin: 0 0 30px 0;
    width: 400px;
height: 30px;
color: white;
}

.second-btn{
    width: 160px;
height: Fixed (59px)px;
padding: 20px 40px 20px 40px;
gap: 10px;
border-radius: 6px;
background: #1AAB7B;
color: white;
margin: 50px 0 0 115px;
}

.footer{
    display: flex;
    margin: 100px 0 0 0;
    width: 1460px;
    height: 200px;
    background-color: black;
    padding: 90px 0 0 50px;
}

.one{
    margin: 0 0 0 100px;
}

.five-text{
    width: 81px;
height: 28px;
top: 96px;
left: 112px;
gap: 0px;
opacity: 0px;
color: white;
}

.four-p{
font-family: Plus Jakarta Sans;
font-size: 18px;
font-weight: 500;
text-align: left;
color: #A1A8B7;
}

.two{
    margin: 15px 0 0 500px;
}


.six-text{
font-family: Plus Jakarta Sans;
font-size: 20px;
font-weight: 700;
text-align: left;
color: white;
}

.three{
    margin: 15px 0 0 300px;
}